@import '../style/index.scss';
.c-calendar {
	.__header {
		color: $gray_3;
		padding: 15px 0;
	}
	.__item {
		padding: 15px 0;
		.__circle {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: #2f75ef;
			color: $white;
			box-shadow: 1px 2px 10px #2f8aef;
		}
	}

	.__flex-col {
		flex: 1;
	}
	.__flex-ac {
		display: flex;
		align-items: center;
	}
	.__fd-c {
		flex-direction: column;
	}
	.__flex-cc {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.__tc {
		text-align: center;
	}
	.__dark {
		color: $gray_1;
	}
	.__gray {
		color: $gray_3;
	}
	.__bg-white {
		background-color: $white;
	}
	.__pointer {
		cursor: pointer;
	}
	.__dot {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		display: block;
		background-color: #2e76ef;
	}
}
