@import '../style/index.scss';
.c-calendar {
	._header {
		color: $gray_3;
		padding: 15px 0;
	}
	._item {
		padding: 15px 0;
		.__circle {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: #2f75ef;
			color: $white;
			box-shadow: 1px 2px 10px #2f8aef;
		}
	}

	._flex-col {
		flex: 1;
	}
	._flex-ac {
		display: flex;
		align-items: center;
	}
	._fd-c {
		flex-direction: column;
	}
	._flex-cc {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	._tc {
		text-align: center;
	}
	._dark {
		color: $gray_1;
	}
	._gray {
		color: $gray_3;
	}
	._bg-white {
		background-color: $white;
	}
	._pointer {
		cursor: pointer;
	}
}
